@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b>Welcome You all!</b></h1>
    <p>
        I am Dhruv Patel and I have created simple MVC Application which is used to sell books depending on situation of books.
        It has integrated security which doesn't allow you to add book or look book which is on sale without login credentials.

    </p>

    <a href="~/css/glasses-books.jpg" />
</div>
